* {
  font-family: 'Roboto Slab', serif; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #2363ad;
  background-image: url("./fetch-bg.jpeg");
  background-attachment: fixed; }

.active {
  display: block; }

section {
  display: none;
  width: 80%;
  margin: auto; }

#tint {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(19, 67, 123, 0.85); }

.button, #loginBox #letsGo, .logoutButton, #userPage #submitRequest, #userPage .deleteButton, #userPage .completeButton, #driverPage .acceptButton {
  border: 1px solid black;
  width: 100px;
  padding: 4px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  box-shadow: .25px .5px .25px .25px black;
  color: white;
  background: #2363ad; }
  .button:hover, #loginBox #letsGo:hover, .logoutButton:hover, #userPage #submitRequest:hover, #userPage .deleteButton:hover, #userPage .completeButton:hover, #driverPage .acceptButton:hover {
    cursor: pointer; }

#loginBox {
  width: 250px;
  height: 310px;
  padding: 6px;
  color: white;
  background: #2363ad;
  margin: 15% auto;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.71); }
  #loginBox h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 72px;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px black; }
  #loginBox p {
    margin-top: 0;
    font-size: 14px;
    text-shadow: 2px 2px 2px black; }
  #loginBox form {
    margin: 29px auto; }
  #loginBox input {
    margin: 12px auto; }
  #loginBox input[type="text"] {
    padding: 4px;
    font-size: 14px; }
  #loginBox #letsGo {
    display: block;
    padding: 8px;
    width: 70px;
    font-size: 16px;
    margin: auto; }

.userOption {
  display: block; }
  .userOption input {
    padding: 4px;
    margin: 12px auto;
    font-size: 14px;
    text-align: center; }
  .userOption label[name="userTypeLabel"] {
    font-size: 14px;
    margin: 4px;
    text-shadow: 1px 1px 1px black; }
  .userOption select {
    font-size: 16px; }
  .userOption label[name="newAccLabel"] {
    font-size: 12px;
    margin: 4px;
    text-shadow: 1px 1px 1px black; }
  .userOption input[type="checkbox"] {
    display: inline-block; }

header {
  width: 100%;
  background-color: #2363ad;
  text-align: center; }

h1 {
  font-size: 5rem;
  margin: 20px 0 0 0;
  display: inline-block;
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 2px black; }

.logoutButton {
  margin: auto; }

.headerCol {
  display: inline-block;
  vertical-align: top;
  width: 30%; }

.requestContainer {
  display: inline-block;
  width: 65%; }

.request, #userPage #requestFormBox, #userPage .userRequest, #driverPage .openRequest, #driverPage .acceptedRequest {
  box-shadow: 2px 2px 2px black;
  margin: 10px;
  background: white;
  padding: 12px; }
  .request h4, #userPage #requestFormBox h4, #userPage .userRequest h4, #driverPage .openRequest h4, #driverPage .acceptedRequest h4 {
    margin: 0;
    font-size: 24px; }

#userPage {
  background: #2363ad;
  border-radius: 7px;
  padding: 0 30px;
  margin-top: 10px;
  box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.71); }
  #userPage h3 {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0; }
  #userPage h2 {
    display: inline-block;
    color: white;
    font-family: 'Lobster';
    font-size: 32px;
    margin: 0;
    text-shadow: 2px 2px 2px black; }
  #userPage textarea {
    font-size: 16px;
    margin-bottom: 11px; }
  #userPage .deleteButton, #userPage .completeButton {
    display: inline-block;
    margin-right: 8px; }

#driverPage {
  background: #2363ad;
  border-radius: 7px;
  padding: 0 30px;
  margin-top: 10px;
  box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.71); }
  #driverPage .openRequest, #driverPage .acceptedRequest {
    width: 100%; }
  #driverPage h2 {
    display: inline-block;
    color: white;
    font-family: 'Lobster';
    font-size: 32px;
    margin: 0;
    text-shadow: 2px 2px 2px black; }
