$blue: rgba(35, 99, 173, 1);
$tintBlue: rgba(19, 67, 123, .85);

* {
  font-family: 'Roboto Slab', serif;
  // font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $blue;
  background-image: url('./fetch-bg.jpeg');
  background-attachment: fixed;
}

.active{
  display: block;
}

section {
  display: none;
  width: 80%;
  margin: auto;
}

// #bg {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   // background-image: url("https://images.unsplash.com/photo-1456143077270-30de0a1bf7bc?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
//   background-image: url('./fetch-bg.jpeg');
//   background-position-y: 28%;
//   background-position-x: 55%;
//   background-size: 160%;
// }

#tint {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: $tintBlue;
}

.button {
  border: 1px solid black;
  width: 100px;
  padding: 4px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  box-shadow: .25px .5px .25px .25px black;
  color: white;
  background: $blue;
  &:hover {
    cursor: pointer;
  }
}

#loginBox {
  width: 250px;
  height: 310px;
  padding: 6px;
  color: white;
  background: $blue;
  margin: 15% auto;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0px 3px 16px 2px rgba(0,0,0,0.71);
  h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 72px;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px black;
  }
  p {
    margin-top: 0;
    font-size: 14px;
    text-shadow: 2px 2px 2px black;
  }
  form {
    margin: 29px auto;
  }
  input {
    margin: 12px auto;
  }
  input[type="text"] {
    padding: 4px;
    font-size: 14px;
  }
  #letsGo {
    @extend .button;
    display: block;
    padding: 8px;
    width: 70px;
    font-size: 16px;
    margin: auto;
  }
}

.userOption {
  display: block;
  input {
    padding: 4px;
    margin: 12px auto;
    font-size: 14px;
    text-align: center;
  }
  label[name="userTypeLabel"] {
    font-size: 14px;
    margin: 4px;
    text-shadow: 1px 1px 1px black;
  }
  select {
    font-size: 16px;
  }
  label[name="newAccLabel"] {
    font-size: 12px;
    margin: 4px;
    text-shadow: 1px 1px 1px black;
  }
  input[type="checkbox"] {
    display: inline-block;
  }
}

header {
  width: 100%;
  background-color: $blue;
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin: 20px 0 0 0;
  display: inline-block;
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 2px black;
}

.logoutButton {
  @extend .button;
  margin: auto;
}

.headerCol {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.requestContainer{
  display: inline-block;
  width: 65%;
}

.request {
  box-shadow: 2px 2px 2px black;
  margin: 10px;
  background: white;
  padding: 12px;
  h4 {
    margin: 0;
    font-size: 24px;
  }
}

#userPage {
  background: $blue;
  border-radius: 7px;
  padding: 0 30px;
  margin-top: 10px;
  box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.71);
  h3 {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0;
  }
  h2 {
    display: inline-block;
    color: white;
    font-family: 'Lobster';
    font-size: 32px;
    margin: 0;
    text-shadow: 2px 2px 2px black;
  }
  #requestFormBox, .userRequest {
    @extend .request;
  }
  textarea {
    font-size: 16px;
    margin-bottom: 11px;
  }
  #submitRequest {
    @extend .button;
  }
  .deleteButton, .completeButton {
    @extend .button;
    display: inline-block;
    margin-right: 8px;
  }
}

#driverPage {
  background: $blue;
  border-radius: 7px;
  padding: 0 30px;
  margin-top: 10px;
  box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.71);
  .openRequest, .acceptedRequest {
    @extend .request;
    width: 100%;
  }
  h2 {
    display: inline-block;
    color: white;
    font-family: 'Lobster';
    font-size: 32px;
    margin: 0;
    text-shadow: 2px 2px 2px black;
  }
  .acceptButton {
    @extend .button;
  }
}
