$blue: rgba(35, 99, 173, 1);
// $purple: #5B3DB1;
$navy: rgba(19, 67, 123, 1);
$tintBlue: rgba(19, 67, 123, .85);
// $tintPurp: rgba(64, 45, 134, .84);
$serif: 'Roboto Slab', serif;

* {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $blue;
  background-image: url('./fetch-bg.jpeg');
  background-attachment: fixed;
  background-position-y: 28%;
  background-position-x: 55%;
  background-size: 160%;
}

.active{
  display: block;
}

section {
  display: none;
  width: 80%;
  margin: auto;
}

#tint {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: $tintBlue;
}

.button {
  border: 1px solid black;
  border-radius: 1px;
  width: 100px;
  padding: 4px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  box-shadow: .25px .5px .25px .25px black;
  color: white;
  background: $blue;
  &:hover {
    cursor: pointer;
    background-color: $navy;
  }
}

#loginBox {
  width: 250px;
  height: 310px;
  padding: 6px;
  color: white;
  background: $blue;
  margin: 15% auto;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0px 3px 16px 2px rgba(0,0,0,0.71);
  h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 72px;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px black;
  }
  p {
    margin-top: 0;
    font-size: 14px;
    text-shadow: 2px 2px 2px black;
    font-family: $serif;
  }
  form {
    margin: 29px auto;
  }
  input {
    margin: 12px auto;
  }
  input[type="text"] {
    padding: 4px;
    font-size: 14px;
  }
  #letsGo {
    @extend .button;
    display: block;
    padding: 8px;
    font-size: 16px;
    margin: auto;
  }
}

.userOption {
  display: block;
  input {
    padding: 4px;
    margin: 12px auto;
    font-size: 14px;
    text-align: center;
  }
  label[name="userTypeLabel"] {
    font-size: 14px;
    margin: 4px;
    text-shadow: 1px 1px 1px black;
  }
  select {
    font-size: 16px;
  }
  label[name="newAccLabel"] {
    font-size: 12px;
    margin: 4px;
    text-shadow: 1px 1px 1px black;
  }
  input[type="checkbox"] {
    display: inline-block;
  }
}

header {
  width: 100%;
  background-color: $blue;
  text-align: center;
  h3 {
    margin: 0;
    float: left;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  h3, span {
        font-family: $serif;
  }
  .logoutButton {
    @extend .button;
    float: right;
    margin-right: 12px;
  }
}

span {
  font-weight: 700;
}

h1 {
  font-size: 5rem;
  margin: 0;
  display: inline-block;
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 2px black;
}

.headerCol {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.requestContainer{
  display: inline-block;
  width: 69%;
}

.request {
  box-shadow: 2px 2px 2px black;
  border-radius: 4px;
  margin: 10px;
  background: white;
  padding: 12px;
  h4 {
    margin: 0;
    font-size: 24px;
    font-family: $serif;
    font-weight: 600;
  }
}

#userPage {
  background: $blue;
  border-radius: 7px;
  padding: 25px 30px 20px 42px;
  margin-top: 10px;
  box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.71);
  h2 {
    display: inline-block;
    color: white;
    font-family: 'Lobster';
    font-size: 32px;
    margin: 0;
    text-shadow: 2px 2px 2px black;
  }
  #requestFormBox, .userRequest, .userOpenRequest {
    @extend .request;
    // width: 100%;
  }
  textarea {
    font-size: 16px;
    width: 93%;
    padding: 8px;
    margin-bottom: 11px;
  }
  #submitRequest {
    @extend .button;
  }
  .deleteButton, .completeButton {
    @extend .button;
    display: inline-block;
    margin-right: 8px;
  }
}

#openUserRequests .deleteButton {
  margin-top: 12px;
}

#driverPage {
  background: $blue;
  border-radius: 7px;
  padding: 25px 30px 20px 42px;
  margin-top: 10px;
  box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.71);
  .openRequest, .acceptedRequest {
    @extend .request;
  }
  h2 {
    display: inline-block;
    color: white;
    font-family: 'Lobster';
    font-size: 32px;
    margin: 0;
    text-shadow: 2px 2px 2px black;
  }
  .acceptButton {
    @extend .button;
  }
}
